/*
  =======================
  General layout
  =======================
*/

body {
  background-color: #f6f3f2;
}

.d-flex {
  display: flex;
}

/*
  =======================
  Typography
  =======================
*/

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
}

p {
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*
  =======================
  Buttons
  =======================
*/

.button {
  border-radius: 5px;
  background-color: cornflowerblue;
  border: 0;
  padding: 1em;
}

/*
  =======================
  Navbar
  =======================
*/

.header {
  padding: 1em 2em;
  background-color: #d33a2c;
  color: white;
  font-family: "Nunito", sans-serif;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.nav-links li {
  padding: 0.2em 0.5em;
}

.more-nav {
  background-color: aqua;
  align-items: center;
}

.cat-img {
  width: 17px;
}

/*
  =======================
  Top Section
  =======================
*/

.top-section {
  background-color: #bc3428;
  color: white;
}

/*
  =======================
  Aside Section
  =======================
*/

.aside-section {
  background-color: #143252;
  color: white;
}

/*
  =======================
  Latest Posts
  =======================
*/

/*
  =======================
  Big Blue Ad
  =======================
*/

.big-blue-ad {
  background-color: #1b71bb;
  color: white;
}

/*
  =======================
  Community Links
  =======================
*/

/*
  =======================
  Featured
  =======================
*/

.featured {
  background-color: #d33a2c;
  color: white;
}

/*
  =======================
  Our Guides
  =======================
*/

.cards {
  background-color: #ffffff;
}

/*
  =======================
  Footer
  =======================
*/

.footer {
  background-color: #d33a2c;
  color: white;
}
